<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4">
  <div class="col-md-10">
    <h2>
      <a href="/api/post/{{post.id}}">{{post.title}}</a>
    </h2>

    <p>Created by {{post.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-10">
    <p>
      {{project.body}}
    </p>
  </div>
</div>
{{/each}}