<div class="row">
  <div class="">
    <h2>{{title}}</h2>
      <div class="">
        <p for="body">{{body}}</p>
      </div>
      {{#if is_owner}}
        <a href="/dashboard/edit/{{id}}"><button class="btn" type="click">Edit Post</button></a>
      {{/if}}

      <div class="d-flex flex-column align-items-center">
        {{#if comments}}
          {{#each comments as |comment|}}
            <div class="container-fluid page-block m-3 p-3">
              <h5>{{user.username}} replied on {{format_date comment.date_created}}:</h5>
              <p>{{body}}</p>
            </div>
          {{/each}}
        {{/if}}
      </div>

      {{#if logged_in}}
      <form class="form comment-form p-4">
        <div class="form-group">
            <label for="comment-body">add comment:</label>
            <input class="form-input" type="text" id="comment-body">
        </div>
        <div class="form-group">
            <button class="btn" type="submit">Post Comment</button>
        </div>
      </form>
    {{/if}}
  </div>
</div>
<script src="/js/comment.js"></script>